body {
    margin: 0;
    font-family: monospace;
    background: #a0c5ff;
  }
  
  #brewery-header {
    display: flex;
    justify-content: center;
    background: #a0c5ff;
    color: #344d66;
    opacity: .8;
    height: 5rem;
    padding: 1rem;
  }

  #main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #brewery-list {
    margin: 2rem;
  }
  
  .card {
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #344d66;
    background-color: ghostwhite;
    color: #344d66;
  }

  button {
    background-color: #344d66;
    color: whitesmoke;
    font-size: 18px;
    font-family: monospace;
  }

  button:hover {
    background-color: #ffde5c;
    color: #344d66;
    font-size: 18px;
    font-family: monospace;
  }

  .fav-card {
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: auto;
    height: auto;
    display: inline-block;
    box-shadow: 3px 4px #344d66;
    background-color: ghostwhite;
    color: #344d66;
  }
  
  .card-img {
    justify-self: center;
    height: 7rem;
    width: auto;
  } 
  
  #search {
    position: relative;
    background-color: #e0f0ff;
    border: none;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: #344d66;
    font-size: 18px;
    justify-self: center;
  }
  
  #search:hover {
    background-color: ghostwhite;
    border: #344d66 solid 1px;
    color: #344d66;
  }
  
  .container {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: none;
    background: #515DA2;
    opacity: .8;
  }
  
  #submit {
    position: relative;
    background-color: #344d66;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
    font-family: monospace;
    margin: 3px;
  }
  
  .input-text {
    border-radius: 5px;
    height: 2rem;
    width: 60%;
    font-size: 18px;
    font-family: monospace;
    margin: 3px;
  }